
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<body style="padding: 0; margin: 0; font-family: roboto;">
    <div class="container" style="display: flex;flex-direction: column; padding: 40px;">
        <div class="logo text-center" style="margin-top: 20px;margin-bottom: 30px; text-align:center">
            <img width="250px" src="https://drive.google.com/uc?export=view&id=1JtnwY1gKQ1S-mrZaIbGej0IsiOztW5ys" alt="Logo">
        </div>
        
        <p style="font-size: 14px; color: #5B5959;">You recently requested to reset your password for your Synchlab.dev blog account. Click
            the button below to reset it.</p>
        <br>
    

        <div class="btn-holder text-center" style="text-align: center; margin-top:30px; margin-bottom:30px;">
            <a style="height: 40px;
            color: #fff;
            border: none;
            font-weight: bold;
            padding: 10px 10px 10px 10px;
            width: 250px;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            background-color: #9901FF;" class="btn btn-call">Reset your password</a>
        </div>
        <p style="font-size: 14px; color: #5B5959;">If you did not request a password reset, please ignore this email or reply to let us know.
            This password reset only valid for next 24 hours.</p>

        <span style="font-size: 14px; color: #5B5959;">Thanks</span> <br>
        <span style="font-size: 14px; color: #5B5959;">Synchlab team</span>

        <p style="font-size: 14px; color: #5B5959;" >If you are having trouble to clicking the reset password button, copy and paste the url 
            below into your browser.  </p>
        <a style="font-size: 14px;
        color: #0D66EC;
        text-decoration: none;" href="">https://www.figma.com/file/CtCdptB1bsP7KRfsyN7OQBSD/Untitled?node-id=3%3A4</a>
    </div>

    <div class="footer" style="margin-top: 60px;
    width: 100%;
    height: 150px;
    background-color: #F1F1F1;
    text-align: center;">
        <div style="padding-top: 7%">
            <p style="font-size: 12px;color: #9E9E9E; ">1947-2019 © Synchlab.dev. All rights reserved
            </p>

            <span style="font-size: 12px;color: #9E9E9E;">Synchlab.dev</span> <br>
            <span style="font-size: 12px;color: #9E9E9E;">Guwahati, Assam, India </span>
        </div>
    </div>
</body>
